th, td {
    text-align: center;
    /*border: 1px solid black;*/
    border-left: .5px dashed green;  
    font-family: Arial, Arial, Helvetica, sans-serif;
}

th {
    border-bottom: .5px solid green;
}

table {
    table-layout: relative;
    width: 100%;
}

body {
    background-color: lightgoldenrodyellow;
}

